.list-item {
  transition: all .7s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.034);
  }
  &.selected {
    opacity: 0.6;
  }
}

.list-item .ant-checkbox-wrapper {
  width: 16px;
}

.list-item__load-more {
  width: 100%;
}