.calendar {
  &__settings {
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
  }
  &__selected-date {
    text-align: center;
  }
  &__legend {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
