.taskDescription {
  width: 520px;
  margin: auto;
  text-align: center;
}

.taskDescription__section {
  margin: 24px 0;
}

.task-place {
  > div{
    margin: auto;
  }
}

.taskDescription_date {
  display: flex;
  justify-content: center;
}

.taskDescription_title {
  display: flex;
  align-items: center;
  justify-content: center;
  :first-child {
    margin: 0 10px 0 0;
  }
}

.taskDescription_date-day {
  margin: 5px 0;
  display: flex;
  align-items: center;
  .date_title {
    display: block;
    width: 70px;
  }
}

.task-feedback {
  border: 1px solid #dedede;
  padding: 24px;
  margin: 20px 0;
  //border-radius: 10px;
  .feedback-button {
    margin-bottom: 0;
  }
}

