.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;
}

.header__logo {
  img {
    height: 30px;
  }
}

.header__title {
  b {
    vertical-align: middle;
  }
}
