.hidden {
  display: none;
}

.passed {
  opacity: 0.6;
}

.done {
  opacity: 0.5;
}

.table__row {
  cursor: pointer;
  user-select: none;

  &:hover {
    td {
      background: unset !important;
    }
  }
}

.table__row-active {
  background-color: #f5f5f5;
}
